<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <title>Читательский дневник</title>

</head>
<body>

<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand" href="/">Читательский дневник</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link active" href="/">Главная</a>

                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Авторы
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" th:href="@{/authors/all}">Список авторов</a></li>
                                    <li><a class="dropdown-item" th:href="@{/authors/create}">Добавить автора</a></li>
                                </ul>
                        </ul>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown2">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Произведения
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" th:href="@{/books/all}">Список произведений</a></li>
                                    <li><a class="dropdown-item" th:href="@{/books/create}">Добавить произведение</a></li>
                                </ul>
                        </ul>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown3">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Рецензии
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" th:href="@{/reviews/all}">Список рецензий</a></li>
                                    <li><a class="dropdown-item" th:href="@{/reviews/create}">Добавить рецензию</a></li>
                                </ul>
                        </ul>
                    </div>


                </div>
                <div class="d-flex" th:if="${user.username != 'Гость'}">
                    <a class="nav-link text-secondary me-3" th:href="@{/users/{userId}(userId=${user.id})}" th:text="${user.username}"></a>
                    <a class="nav-link text-secondary" th:href="@{/users/logout}">Выйти</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <form class="mt-3" th:action="@{/books/create}" method="post" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="title" class="form-label"><b>Название</b></label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Введите название">
            </div>

            <div class="mb-3">
                <label for="authorFirstName" class="form-label"><b>Имя автора</b></label>
                <input type="text" class="form-control" id="authorFirstName" name="authorFirstName" placeholder="Введите имя автора">
            </div>

            <div class="mb-3">
                <label for="authorLastName" class="form-label"><b>Фамилия автора</b></label>
                <input type="text" class="form-control" id="authorLastName" name="authorLastName" placeholder="Введите фамилию автора">
            </div>

            <div class="mb-3">
                <label for="genre"><b>Жанр</b></label>
                <select class="form-control" id="genre" name="genreId">
                    <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="formFile"><b>Обложка</b></label>
                <input class="form-control form-control-sm w-100" type="file" id="formFile" name="file" required>
            </div>

            <div class="mb-3 row">
                <div class="col-6"></div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-6"><a class="btn btn-danger w-100" th:href="@{/index}">Отмена</a></div>
                        <div class="col-6"><button class="btn btn-primary w-100" type="submit">Зарегистрировать</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

</body>
</html>