<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <title>Читательский дневник</title>

</head>
<body>

<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand" href="/">Читательский дневник</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link active" href="/">Главная</a>

                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Авторы
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" th:href="@{/authors/all}">Список авторов</a></li>
                                    <li><a class="dropdown-item" th:href="@{/authors/create}">Добавить автора</a></li>
                                </ul>
                        </ul>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown2">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Произведения
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" th:href="@{/books/all}">Список произведений</a></li>
                                    <li><a class="dropdown-item" th:href="@{/books/create}">Добавить произведение</a></li>
                                </ul>
                        </ul>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown3">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Рецензии
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" th:href="@{/reviews/all}">Список рецензий</a></li>
                                    <li><a class="dropdown-item" th:href="@{/reviews/create}">Добавить рецензию</a></li>
                                </ul>
                        </ul>
                    </div>


                </div>
                <div class="d-flex" th:if="${user.username != 'Гость'}">
                    <a class="nav-link text-secondary me-3" th:href="@{/users/{userId}(userId=${user.id})}" th:text="${user.username}"></a>
                    <a class="nav-link text-secondary" th:href="@{/users/logout}">Выйти</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="card-body">
        <form class="mt-3" th:action="@{/authors/update}" method="post" enctype="multipart/form-data" th:object="${author}">
            <input type="hidden" name="id" th:field="*{id}">

            <div class="form-group">
                <label for="firstName">Имя</label>
                <input type="text" class="form-control" name="firstName" id="firstName" th:field="*{firstName}">
            </div>
            <div class="form-group">
                <label for="lastName">Фамилия</label>
                <input type="text" class="form-control" name="lastName" id="lastName" th:field="*{lastName}">
            </div>
            <div class="form-group">
                <label for="biography">Биография</label>
                <input type="text" class="form-control" name="biography" id="biography" th:field="*{biography}">
            </div>

            <div class="col-3">
                <div class="mb-3">
                    <img th:src="@{/files/{fileId}(fileId=*{fileId})}" class="w-100" alt="No image">
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-sm w-100" type="file" id="formFile" name="file">
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-6"></div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4"><a class="btn btn-light w-100" th:href="@{/index}">Cancel</a></div>
                        <div class="col-4"><button class="btn btn-success w-100" type="submit">Update</button></div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="authorInfo">
        <p class="fs-1"><a th:text="${author.lastName}"></a>  <a th:text="${author.firstName}"></a> </p>
        <p class="fs-1"><a th:text="${author.biography}"></a>  <a th:text="${author.birthDate}"></a> </p>
    </div>
</div>

</body>
</html>